@if (!isloading()) {
  <div
    class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        {{ isLogin() ? "Log in to your" : "Create an" }} account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600 max-w">
        Or
        <a
          class="font-medium text-amber-600 hover:text-amber-500 cursor-pointer"
          (click)="onChangeMode()"
        >
          {{ isLogin() ? "create an" : "log in to your" }} account
        </a>
      </p>
    </div>
    @if (error()) {
      <div
        class="bg-white shadow sm:rounded-lg text-center text-sm text-red-600"
      >
        {{ error() }}
      </div>
    }
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email address
            </label>
            <div class="mt-1">
              <input
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email address"
                formControlName="email"
                class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-amber-500 focus:border-amber-500 focus:z-10 sm:text-sm"
              />
            </div>
          </div>

          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
            >
              Password
            </label>
            <div class="mt-1">
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Enter your password"
                formControlName="password"
                class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-amber-500 focus:border-amber-500 focus:z-10 sm:text-sm"
              />
            </div>
          </div>

          @if (isLogin()) {
            <div class="flex items-center justify-end">
              <div class="text-sm">
                <a
                  class="font-medium text-amber-600 hover:text-amber-500 cursor-pointer"
                >
                  Forgot your password?
                </a>
              </div>
            </div>
          }

          <div>
            <button
              type="submit"
              [disabled]="authForm.invalid"
              class="disabled:opacity-50 disabled:cursor-default disabled:hover:bg-amber-600 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 cursor-pointer"
            >
              {{ isLogin() ? "Log in" : "Create account" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
} @else {
  <app-loading-spinner></app-loading-spinner>
}
